.button{
    display: inline-block;
    width: 24.9%;
    height: 15vh;
    background-color: #D6d6d6;
    border: 1px solid black;
}


.text{
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
}