.operands{
    display: inline-block;
    width: 24.9%;
    height: 15vh;
    background-color: #F49637;
    border: 1px solid black;
    vertical-align: top;
}


.text{
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 2.5em;
    margin-top: 2em;
}